.welcome


.logo

  -# %img(src='app/assets/images/unicorn_logo_test.png')

.container
  .row
    .col-md-4.col-md-offset-4
      %h1 Welcome to Unicoin

.jumbotron
  .row
    .col-md-12
      =image_tag("http://www.unicef.by/uploads/models/2015/09/one-unicoin.png")
  .row
    .col-md-6
      .buyer
        %h3 Buyers
        %p= link_to "Buyer Login", new_buyer_session_path
        %p= link_to "Buyer Sign Up", new_buyer_registration_path
    .col-md-6
      .seller
        %h3 Sellers
        %p= link_to "Seller Login", new_seller_session_path
        %p= link_to "Seller Sign Up", new_seller_registration_path
-#
-# .container
-#   .row
-#     .col-xs-6
