- if @offers.any?
  - @offers.each do |offer|
    %h2= offer.price_per_coin
    %h2= offer.number_of_coins
    %h2= offer.status
- else
  No offers yet

%a(href=new_offer_url) Create Offer
%a(href=new_buyer_session_url) Buyer Sign In
%a(href=new_seller_session_url) Seller Sign In
